@import "./mixins";

*{
    margin: 0rem;
    font-size: .9rem;
}

.nav{
    display: flex;
    justify-content: space-between; 
    background-color: #94D5D8;
    width: 100%;
    padding: 1rem;
    align-self: center;
    &__containerR{
        display: flex;
    }
    &__logo{
        align-self: center;   
    }
    &__searchBar{
        padding: 0 0 0 1.25rem;
        align-self: center;
    }
    &__containerL{
        padding: 0 1rem;
        margin: 0;
        flex-shrink: 3;
        @include tablet{
            display: none;

        }
        @include mobile{
            display: none;
        }
    }
    &__links{ 
        justify-content: space-between;
        padding: 0 2rem;
        
    }
    &__buttons{
        padding-left: 5%;
        padding: .5rem .75rem;
        margin: 5px;
        justify-content: space-between; 
        border:none;color: inherit; background:none;
       
    }
    &__cartIcon{
        width:100%;
        align-self: center;
        height: 1.625rem;
    }
    .hiddenNav{
        display: none;
        @include tablet{
            display:flex;
           justify-content: flex-start;
           position:relative;
           right:5%;
        }
        @include mobile{
            display: contents;
        }
       
    }
  
}


.hero{
    width:100%;
    height: 2rem;

}






    




